body {
    font-family: "open sans" , sans-serif;
}
border
    
.lightblue {
        color:lightblue; text-align: center;
}

body{
    background-image: : url(http://www.drodd.com/images14/blue22.jpg)

img {
    border-radius: 50%;
{